{{! The big featured header }}
<div class="clearfix hero-outer">
	<div class="left tagline-outer" style="background-image: url({{@blog.cover}})">
		<div class="tagline-inner">
			<span class="label">Mukadimah</span>
			<p class="title tagline">The one gift they actually need.</p>
		</div>
	</div>

	<div class="right newsletter-outer">
		<div class="newsletter-inner">
			<h4 class="title">Subscribe.</h4>
			<p class="description">Get our best articles directly to your inbox. No spam, pinky swear.</p>
			
			{{> mailchimp}}
		</div>
	</div>
</div>